@charset "UTF-8";

$husky-purple: #4b2e83;
$husky-gold: #85754d;
$red: #ff0000;
$gold: #b7a57a;

html {
	overflow-x: hidden;
	background: $gold;
}
article {
	margin: 0 auto;
	width: 80%;
	max-width: 8.5in;
	position: relative;
	background-color: white;
	align-items: center;
	padding: 20px;
	border: 5px solid $husky-gold;
	box-shadow: 4px 8px 16px 0px black;
}
p{
	line-height: 40px;
	font-size: large;
}
/////////////////////////////////////ANIMATIONS//////////////////////////////////////////////////////////////

@keyframes logo_animation{
	from{
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@keyframes logo_animation_hover {
	from{
		opacity: 1;
	} to{
		opacity: 0;
	}
}

@keyframes fadein {
	from{
		opacity: 0.5;
	} to {
		opacity:1;
	}
}

@keyframes fadeout{
	from{
		opacity: 1;
	} to {
		opacity: 0.5;
	}
}

////////////////////////////////////HEADER CODE///////////////////////////////////////////////////////////
.thin-strip{
	@media screen and (min-width: 480px){
		height: 90px;
	}
	width: 110%;
	top: -10px;
	left: -1%;
	background: $husky_purple;
	padding-top: 22px;
	position: relative;
	z-index: 2;
}

.logo{
	width: 10%;
	max-height: 100px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.logo-main{
	animation-name: logo_animation;
	animation-duration: 0.5s;
	opacity: 1;
	z-index: 1;
}

.logo-main:hover{
	animation-name: logo_animation_hover;
	animation-duration: 0.5s;
	opacity: 0;
}

.sign-in-text {
	color: white;
	position: relative;
	left: 80%;
	top: -100px;
}

.nav-links:hover {
	animation-name: fadeout;
	animation-duration: 0.5s;
	opacity: 0.5;
}


.main-title{
	width: 60%;
	max-width: 550px;
	left: 15%;
	display: inline;
	position: relative;
	padding-bottom: 10px;
	top: 4px;
	display: inline;
}

.sign-in-btn-header {
	animation-name: fadeout;
	animation-duration: 1s;
	width: 10%;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid $husky_purple;
	border-radius: 5px;
	background-color: white;
	opacity: 0.5;
}

.sign-in-btn-header:hover{
	animation-name: fadein;
	animation-duration: 1s;
	opacity: 1;
}
nav{
	background: white;
	top: -30px;
	position: relative;
	width: 100%;
	text-align:center;
	@media screen and (min-width: 480px){
		min-height: 90px;
		menu{
			display: none;
		}
		h3{
			top: 40px;
			position: relative;
			padding-left: 1%;
			padding-right: 1%;
			color: gray;
			display: inline;
		}

		a{
			animation-name: fadein;
			animation-duration: 1s;
			color: $husky_purple;
			text-decoration: none;

		}
	}

	@media screen and (max-width: 480px){
		h3{
			display: none;
		}
	}
}

.drop-down{
	position: absolute;
	background: white;
	border: 1px solid $husky-purple;
	box-shadow: 0px 8px 16px 0px black;
	display: none;
	width: 60px;
	padding: 10px 20px;
	z-index: 1;
	top: 45px;
	left: 30%;
	width:40%;
	a{
		display: block;
		color: $husky_purple;
		text-decoration: none;
	}
	a:hover{
		background-color: gray;
	}
}

.show{
	display: inline-block;
}
////////////////////////////////////////////FOOTER//////////////////////////////////////////////

.link{
	animation-name: fadein;
	animation-duration: 1s;
	color: white;
	position: relative;
}

.link:hover {
	animation-name: fadeout;
	animation-duration: 1s;
	opacity: 0.5;
}

.footer {
	background: #4b2e83;
	position: relative;
	color: white;
	font-style: normal;
	text-align: center;
	padding: 10px;
}

.footer-text {
	text-decoration-color: white;
	height: 30px;
	left: 300px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover{
	opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
////////////////////////////////////////////?FORMS?///////////////////////////////////////////////////////
.big-form {
	left: 3%;
	position: relative;
	width: 90%;
	border-radius: 6px;
	border: 2px solid $husky_purple;
	padding: 10px 10px;
	font-size: 20px;
	padding-bottom: 10px;
}

.big-form:focus {
	border: 3px solid $husky_gold;
	border-bottom: 5px solid $husky_gold;
}

.big-btn{
	left: 25%;
	position: relative;
	width: 50%;
	border-radius: 6px;
	border: 2px solid $husky_purple;
	padding: 10px 20px;
	font-size: 20px;
	padding-bottom: 10px;
}

.big-btn:hover{
	border: 3px solid $husky_gold;
	border-bottom: 5px solid $husky_gold;
}

.signin-error{
	position: relative;
	color: $red;
	font-size: 20px;
	text-decoration: underline;
}

///////////////////////////////////////////////////////////PICTURE PAGE///////////////////////////////////////
.smoll_img{
	width: 100%;
}
.img_caption{
	text-decoration: none;
	position: relative;
	color: $husky_purple;
}
.image_box{
	padding-bottom: 20px;
	border-bottom: 5px solid black;
}
.album_link{
	animation-name: fadein;
	animation-duration: 0.5s;
	text-decoration: none;
	text-align: center;
}
.album_link:hover{
	animation-name: fadeout;
	animation-duration: 0.5s;
	opacity: 0.5;
}

.img-slide{
	width: 100%;
}

.prev{
	left: 0%;
}

.next{
	left: 0%;
}

///////////////////////////////////////////////////////ARTICLES////////////////////////////////////////////
.article_link{
	text-align: center;
	color: $husky_purple;
	text-decoration: none;
	animation-name: fadein;
	animation-duration: 1s;
}
.article_link:hover{
	animation-name: fadeout;
	animation-duration: 0.5s;
	opacity: 0.5;
}
.article-text-box{
	height: 11in;
}
