@charset "UTF-8";
:root{
	--husky_purple: #4b2e83;
	--husky_gold: #85754d;
	--red_error: #ff0000;
	--gold: #b7a57a;
}

html {
	overflow-x: hidden;
}

body {
	background-color: var(--gold);
}

article {
	width: 90%;
	left: 4%;
	position: relative;
	background-color: white;
	align-items: center;
	padding: 20px;
	border: 2px solid var(--husky_gold);
}

.logo{
	height: 100px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.logo-main{
	animation-name: logo_animation;
	animation-duration: 1s;
	opacity: 1;
	z-index: 1;
}

.logo-main:hover{
	animation-name: logo_animation_hover;
	animation-duration: 1s;
	opacity: 0;
}

@keyframes logo_animation{
	from{opacity: 0;}
	to{opacity: 1;}
}

@keyframes logo_animation_hover {
	from{opacity: 1;}
	to{opacity: 0;}
}

.thin-strip{
	height: 130px;
	width: 100%;
	background: var(--husky_purple);
	align-content: center;
	padding-top: 22px;
	padding-bottom: 10px;
	position: relative;
	z-index: 2;
}

.thin-strip-white{
	height: 50px;
	width: 100%;
	padding-top: 40px;
	position: relative;
	padding-bottom: 40px;
	z-index: 2;
}

.sign-in-text {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	position: relative;
	left: 80%;
}

.logout {
	left: 80%;
}

.link{
	animation-name: fadein;
	animation-duration: 1s;
	color: white;
	position: relative;
}

.link:hover {
	animation-name: fadeout;
	animation-duration: 1s;
	opacity: 0.5;
}

.nav-links:hover {
	animation-name: fadeout;
	animation-duration: 0.5s;
	opacity: 0.5;
}

.nav-links{
	animation-name: fadein;
	animation-duration: 1s;
	position: relative;
	top: 10px;
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding-left: 20px;
}

.main-title{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	width: 60%;
	color: white;
	position: absolute;
	left: 178px;
	padding-bottom: 10px;
	top: 4px;
}

.footer {
	background: #4b2e83;
	position: relative;
	color: white;
	font-style: normal;
	text-align: center;
	padding: 10px;
}

.footer-text {
	text-decoration-color: white;
	height: 30px;
	left: 300px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover{
	opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.signin-form-header {
	    width: 10%;
	    padding: 6px 10px;
	    box-sizing: border-box;
		 border: 2px solid var(--husky_purple);
		 border-radius: 5px;
		 animation-name: fadeout;
	 	 animation-duration: 1s;
		 opacity: 0.5;
}

.signin-form-header:focus {
	animation-name: fadein;
	animation-duration: 1s;
	border: 2px solid blue;
	opacity: 1;
}

.sign-in-btn-header {
	animation-name: fadeout;
	animation-duration: 1s;
	width: 10%;
	padding: 6px 10px;
	box-sizing: border-box;
	border: 2px solid var(--husky_purple);
	border-radius: 5px;
	background-color: white;
	opacity: 0.5;
}

.sign-in-btn-header:hover{
	animation-name: fadein;
	animation-duration: 1s;
	opacity: 1;
}

@keyframes fadein {
	from{opacity: 0.5;}
	to{opacity:1;}
}

@keyframes fadeout{
	from{opacity: 1;}
	to{opacity: 0.5;}
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.big-form {
	left: 3%;
	position: relative;
	width: 90%;
	border-radius: 6px;
	border: 2px solid var(--husky_purple);
	padding: 10px 10px;
	font-size: 20px;
	padding-bottom: 10px;
}

.big-form:focus {
	border: 3px solid var(--husky_gold);
	border-bottom: 5px solid var(--husky_gold);
}

.big-btn{
	left: 25%;
	position: relative;
	width: 50%;
	border-radius: 6px;
	border: 2px solid var(--husky_purple);
	padding: 10px 20px;
	font-size: 20px;
	padding-bottom: 10px;
}

.big-btn:hover{
	border: 3px solid var(--husky_gold);
	border-bottom: 5px solid var(--husky_gold);
}

.signin-error{
	position: relative;
	color: var(--red_error);
	font-size: 20px;
	text-decoration: underline;
}
.smoll_img{
	width: 40%;
	position: relative;
	left: 30%;
}
.img_container{
	padding: 20px;
	position: relative;
}
.img_caption{
	left: 47%;
	position: relative;
}
